<!doctype html>
<html>

<head>
    <title>TODO tasks</title>
    <meta name="viewport" content="width=device-width, user-scalable=0, initialscale=
1.0">
    <link rel="stylesheet" href="estilos.css">
    <script src="node_modules/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <h1>Mis tareas
            <input type="text" placeholder="Filtro" v-model="filter">
        </h1>
        <ul>
            <li v-for="t in doFilter()" v-bind:class="{ pending: t.pending }">
                {{ t.title }}
            </li>
        </ul>
    </div>

    <script src="index.js"></script>
</body>

</html>